# Api
API_JWT_SECRET=

API_SMTP_HOST=
API_SMTP_PORT=
API_SMTP_USER=
API_SMTP_PASS=

API_S3_ENDPOINT=

API_S3_REGION=

API_S3_ACCESS_KEY=
API_S3_SECRET_KEY=

API_S3_BUCKET=

# Front-End
WEB_API_URI=http://localhost:3001
WEB_CDN_URI=